<div class="row justify-content-center">
  <div class="col-6">
    <% if @user == current_user %>
      <h1 class="bg-primary text-white rounded p-2">Your Profile</h1>
    <% else %>
      <h1 class="bg-primary text-white rounded p-2">Profile Information</h1>
    <% end %>
    <div class="mb-3">
      <h4>First Name</h4>
      <%= @user.first_name %>
    </div>
    <div class="mb-3">
      <h4>Last Name</h4>
      <%= @user.last_name %>
    </div>
    <% if current_user.friend?(@user) || @user == current_user %>
      <div class="mb-3">
        <h4>Email</h4>
        <%= @user.email %>
      </div>
      <div class="mb-3">
        <h4>Birthdate</h4>
        <%= @user.birthdate.strftime("%B %e, %Y") %>
      </div>
      <div class="mb-3">
        <h4>Gender</h4>
        <%= @user.gender %>
      </div>
      <div class="mb-3">
        <h4>Phone Number</h4>
        <%= number_to_phone(@user.phone_number) %>
      </div>
    <% end %>
    <% if @user == current_user %>
      <div class="mb-3">
        <%= link_to "Edit", edit_user_path(@user), class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>