<div class="row justify-content-center">
  <div class="col-6">
    <% if @user == current_user %>
      <h1 class="bg-primary text-white rounded p-2">Your Profile</h1>
    <% else %>
      <h1 class="bg-primary text-white rounded p-2">Profile Information</h1>
    <% end %>
    <div class="row">
      <div class="col mb-3">
        <div class="mb-3" style="width: 200px; height: 200px;">
          <%= avatar(@user) %>
        </div>
        <div class="">
          <h4>First Name</h4>
          <%= @user.first_name %>
        </div>
        <div class="">
          <h4>Last Name</h4>
          <%= @user.last_name %>
        </div>
      </div>
      <div class="col">
        <% if current_user.friend?(@user) || @user == current_user %>
          <div class="mb-3">
            <h4>Email</h4>
            <%= @user.email %>
          </div>
          <div class="mb-3">
            <h4>Birthdate</h4>
            <% if @user.birthdate %>
              <%= @user.birthdate.strftime("%B %e, %Y") %>
            <% else %>
              <p>N/A</p>
            <% end %>
          </div>
          <div class="mb-3">
            <h4>Gender</h4>
            <% if @user.gender %>
              <%= @user.gender %>
            <% else %>
              <p>N/A</p>
            <% end %>
          </div>
          <div class="mb-3">
            <h4>Phone Number</h4>
            <% if @user.phone_number %>
              <%= number_to_phone(@user.phone_number) %>
            <% else %>
              <p>N/A</p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <% if @user == current_user %>
      <div class="mb-3">
        <%= link_to "Edit", edit_user_path(@user), class: 'btn btn-primary' %>
      </div>
    <% end %>
    <% if current_user.friend?(@user) || @user == current_user %>
      <h1 class="bg-primary text-white rounded p-2">Posts</h1>
      <%= render "posts/posts" %>
    <% end %>
  </div>
</div>