<%= form_with model: @post, data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" } do |form| %>
  <div class="mb-3">
    <%= form.label :title, 'Title', class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= form.label :body, 'Post', class: 'form-label' %>
    <%= form.text_area :body, size: '70x3', class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= form.submit 'Post', class: 'btn btn-primary' %>
  </div>
<% end %>