<%= form_with model: @post do |form| %>
  <div class="mb-3">
    <%= form.label :title, 'Title', class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= form.label :body, 'Post', class: 'form-label' %>
    <%= form.text_area :body, size: '70x3', class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= form.label :photo, 'Photo', class: 'form-label' %>
    <%= form.file_field :photo, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= form.submit 'Post', class: 'btn btn-primary' %>
  </div>
<% end %>
<% if @post.errors.any? %>
  <% @post.errors.full_messages.each do |message| %>
    <div class="text-danger text-large"><%= message %></div>
  <% end %>
<% end %>
