<div class="card text-bg-primary">
  <div class="card-header">
    <div class="row">
      <div class="col-auto">
        <%= avatar_thumbnail_med(@post.user) %>
      </div>
      <div class="col">
        <h5><%= link_to @post.user.full_name, user_path(@post.user), class: "text-decoration-none text-primary" %><small class="text-muted">  <%= @post.created_at.strftime("%l:%M%p %b %e, %Y") %></small></h5>
        <h6><%= @post.title %></h6>
      </div>
    </div>
  </div>
  <div class="card-body">
    <%= @post.body %>
  </div>

  <div class="d-flex mx-3 align-items-center mb-3">
    <% like = @post.likes.find { |like| like.user_id == current_user.id } %>
    <% if like %>
        <%= button_to like_path(like), method: :delete, class: 'btn btn-danger' do %>
          <i class="bi bi-hand-thumbs-down"></i>
        <% end %>
    <% else %>
      <%= button_to likes_path(@post), params: { like: {user_id: current_user.id, likeable_id: @post.id, likeable_type: "Post"} }, class: 'btn btn-primary' do %>
        <i class="bi bi-hand-thumbs-up"></i>
      <% end %>
    <% end %>
    <div class="mx-3"><%= @post.likes.count %> likes</div>
  </div>
  <% @post.comments.each do |comment| %>
    <%= render comment, comment: comment %>
  <% end %> 
  <div class="mx-3"><%= render 'comments/form', comment: @post.comments.build %></div>
</div>