<% @posts.each do |post| %>
  <div class="container-sm">
    <div class="card text-bg-primary mb-3">
      <div class="card-header">
          <h4><%= post.title %></h4>
      </div>
      <div class="card-body">
          <%= post.body %>
      </div>
      <div class="card-text">
        -- <%= post.user.name %>
      </div>
      <% post.comments.each do |comment| %>
          <div class="card text-bg-primary mb-3">
            <div class="card-body"><%= comment.body %></div>
            <div class="card-text">-- <%= comment.user.name %></div>
          </div>
      <% end %>
    </div>
  </div>
<% end %>