<h1>New Post</h1>
<%= render 'post' %>
<h1>Your Feed</h1>
<% @posts.each do |post| %>
  <div class="container-sm">
    <div class="card text-bg-primary mb-3">
      <div class="card-header">
          <h4><%= post.title %></h4>
      </div>
      <div class="card-body px-3">
          <%= post.body %>
      </div>
      <div class="card-text mb-3 px-3">
        <strong>-- <%= post.user.full_name %></strong>
      </div>
      <% post.comments.each do |comment| %>
          <div class="card text-bg-primary ms-3 mb-3 p-3">
            <div class="card-body"><%= comment.body %></div>
            <div class="card-text"><strong>-- <%= comment.user.full_name %></strong></div>
          </div>
      <% end %>
    </div>
  </div>
<% end %>